.search-form {
    position:fixed;
    
    
}

.gallery {
display: flex;
flex-wrap: wrap;


}
.photo-card {
    margin: 15px;
    border: 1px solid grey;
    
}
.photo-card > img {
    display: block;
}
.info {
    display: flex;
    justify-content: space-between;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

